<h3>sign in</h3>

<form action="/admin" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" placeholder="Enter username">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter password">

    <input type="submit" value="Login" class="btn">

</form>

<h3>register</h3>

<form action="/register" method="post">
    <label for="username"><b>Username</b></label>
    <input type="text" name="username" placeholder="Enter username">

    <label for="password"><b>Password</b></label>
    <input type="password" name="password" placeholder="Enter password">

    <input type="submit" value="Login" class="btn">

</form>