<div class="searchBar" style="visibility: hidden;">
    <div class="container">
        <form action="/search" class="search-form" role="search" method="post">
            <input type="search"
            aria-label="search" 
            id="searchInput"
            name="searchTerm"
            placeholder="search the site..."/>
        </form>
        <div id="searchclose">Close</div>
    </div>
</div>