<div class="author">
    <h1 class="author-heading"> search result</h1>
</div>


<section class="articles">
    <ul class="article-ul">
        <% data.forEach(element => { %>
          <li>
            <a href="/post/<%= element._id %>">
              <span><%= element.title %></span>
              <span class="article-list__date"><%= element.createdAt.toDateString() %></span>
            </a>
          </li>
        <% }) %>
      </ul>

      
</section>